
.insta-container {
  max-width: 420px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 15px;
}

.top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.story {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 4px;
  background: linear-gradient(45deg, #feda75, #d62976, #962fbf);
}

.story img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background: white;
}

.plus {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: black;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.stats {
  display: flex;
  flex: 1;
  justify-content: space-around;
  text-align: center;
}

.stats strong {
  font-size: 18px;
  display: block;
}

.stats span {
  font-size: 14px;
  color: gray;
}

.bio {
  margin-top: 15px;
}

.bio h3 {
  margin-bottom: 6px;
}

.bio p {
  margin: 2px 0;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
}

.bio a {
  color: #1877f2;
  text-decoration: none;
  font-weight: 500;
}
.follow{
  margin-top: 15px;
  display: flex;
  align-items: center;
  
  justify-content: space-around;

}
.follow-btn {
  background-color: #0095f6;
  color: white;
  border: none;
  padding: 8px 60px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
  transition-duration: 0.3s;
  animation: smoothFloat 6s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
  will-change: transform;
}

.message-btn {
  background-color: #868686;
  color: black;
  font-size: 15px;
  font-weight: 500;
  border: none;
  padding: 8px 60px;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.3s;
   animation: smoothFloat 3s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
  will-change: transform;
}


@keyframes smoothFloat {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(5px);
  }
}
.message-btn:hover {
 transform: translateY(-2px) scale(1.01);
  box-shadow: 0 18px 40px rgba(0,0,0,.35);
  animation-play-state: paused;
}
.follow-btn:hover {
 transform: translateY(-2px) scale(1.01);
  box-shadow: 0 18px 40px rgba(0,0,0,.35);
  animation-play-state: paused;
}
