* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: radial-gradient(circle at top, #0f2027, #20454b);
   backdrop-filter: blur(14px);
}

/* Navbar */
.navbar {
  width: 90%;
  margin: 25px auto;
  padding: 16px 30px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(14px);
  border-radius: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.7),
    inset 0 0 20px rgba(0, 255, 255, 0.15);

  transform-style: preserve-3d;
}

/* Logo */
.logo {
  font-size: 25px;
  font-weight: 700;
  color: #00f7ff;
  text-shadow: 0 0 18px rgba(0, 247, 255, 0.9);
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 5px;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
    padding: 5px;
  border-radius: 14px;
  transition: all 0.35s ease;
  transform-style: preserve-3d;
}

/* 3D Hover Effect */
.nav-links a:hover {
  background: linear-gradient(135deg, #00f7ff, #0066ff);
  color: #000;
  transform: translateY(-6px) rotateX(15deg);
  box-shadow:
    0 15px 30px rgba(0, 247, 255, 0.6),
    inset 0 0 15px rgba(255, 255, 255, 0.45);
}
