/* Theme */
.app {
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* .dark {
  background: radial-gradient(circle at top, #0f2027, #000);
}

.light {
  background: linear-gradient(135deg, #e0e0e0, #ffffff);
}  */

/* Theme Button */
.theme-btn {
  margin-bottom: 10px;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

/* Profile */
.profile-wrapper {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-card {
  width: 300px;
  height: 360px;
  border-radius: 24px;
  cursor: pointer;

  backdrop-filter: blur(16px);
  background: rgba(255,255,255,0.12);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;

  box-shadow:
    0 25px 45px rgba(0,0,0,0.6),
    inset 0 0 20px rgba(0,255,255,0.2);
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow:
    inset 0 4px 8px rgba(255,255,255,0.5),
    0 10px 20px rgba(0,0,0,0.6);
}

.name {
  font-size: 40px;
  font-weight: 700;
  color: #00f7ff;
  text-shadow: 0 0 12px rgba(0,247,255,0.8);
}

/* Dropdown */
.dropdown {
  position: absolute;
  top: 195px;
  width: 170px;
  padding: 14px;
  border-radius: 18px;

  backdrop-filter: blur(14px);
  background: rgba(0,0,0,0.75);

  display: flex;
  flex-direction: column;
  gap: 10px;

  box-shadow: 0 20px 40px rgba(0,0,0,0.7);
}

.dropdown button {
  background: transparent;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.dropdown button:hover {
  background: rgba(0,247,255,0.2);
}

.logout {
  color: #ff5f5f;
}

/* Mobile */
@media (max-width: 600px) {
  .profile-card {
    /* width: 130px;
    height: 160px; */
  }
}
